#container {
  position: relative;
  display: inline-block;
}

#input {
  padding: 0.5rem;
  width: 16rem;
}

#btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  font-weight: 600;
}
